<!DOCTYPE html>
<html lang="">
<head>
    <%- include('../partials/head'); %>
</head>

<header>
    <%- // include('../partials/header'); %>
</header>

<main>
    <%- include('../partials/notificationServiceConf') -%>
</main>

<footer>
    <%- //include('../partials/footer'); %>
</footer>

</body>
</html>