<dialog class="box-details">
	<h1>Postfach Historie</h1>
	<section class="last-emptied">
		<h2>Letzte Leerung</h2>
		<p></p>
	</section>
	<section class="history">
		<h2>Füllgeschichte</h2>
		<ul></ul>
	</section>
	<button id="close">Schließen</button>
</dialog>