<dialog class="configure-esp-device"> 
<form class="configure-esp-device" action="/config-device" method="post">
	<h1>Postfach Konfigurieren</h1>
	<input type="hidden" name="id" id="id">

	<div class="grid-container">
	<label for="boxnumber">Fachnummer</label>
	<input type="number" name="boxnumber" id="boxnumber" min="0" required>
	<label for="to">An</label>
	<input type="text" name="to" id="to" required>
	<label for="subject">Titel</label>
	<input type="text" name="subject" id="subject" required>
	</div>
	<textarea name="body" id="body" cols="30" rows="10" id="body" required></textarea>

	<input type="submit" value="Anwenden">
	<input type="submit" id="cancle" name="cancle" value="Abbrechen">
</form>
</dialog>