<dialog class="testmessage-response">
	<h1>Testergebniss</h1>
	<div class="loader-wrapper">
		<div class="loader"></div>
	</div>
	<section class="accepted-destinations">
		<h2>Akzeptierte Adressen</h2>
		<ul>
		</ul>
	</section>
	<section class="rejected-destinations">
		<h2>Abgelehnte Adressen</h2>
		<ul>
		</ul>
	</section>
	<button id="close">Schließen</button>
</dialog>